:root {
          --primary: #1A1A1A;
          --secondary: #000;
          --mainBg: #1A1B20;
          --gradOne: #F6C644;
          --gradTwo: #F6C644;
          --cardOne: #33343A;
          --cardTwo: #F6C644;
          --linkColor: #C5D0FF;
          --icon: #F6C644;
          --camera: #1A1A1A;
          --modalText: #FFFFFF;
          --leaderboardText: #FFFFFF;
          --headerText: #FFFFFF;
          --mainText: #FFFFFF;
          --freeUseText: #0A7D6C;
          --bgFreeUse: #0A7D6C1A;
          --primaryBtnText: #000000;
          --secondaryBtnText: #FFFFFF;
        }