:root {
          --primary: #F3F4F8;
          --secondary: #000;
          --gradOne: #4472ad;
          --gradTwo: #009dea;
          --cardOne: #E8EAF0;
          --cardTwo: #049BE8;
          --linkColor: #4f58a3;
        }