:root {
          --primary: #F3F4F8;
          --secondary: #000;
          --mainBg: #FFFFFF;
          --gradOne: #4472ad;
          --gradTwo: #009dea;
          --cardOne: #E8EAF0;
          --cardTwo: #049BE8;
          --linkColor: #4f58a3;
          --icon: #4B9CE3;
          --camera: #FFFFFF;
          --modalText: #000000;
          --leaderboardText: #000000;
          --headerText: #000000;
          --mainText: #000000;
          --freeUseText: #0A7D6C;
          --bgFreeUse: #0A7D6C1A;
          --primaryBtnText: #FFFFFF;
          --secondaryBtnText: #000000;
        }