
.nws-modal-wrapper .nws-modal .modal-right {
   display:none!important
}

.nws-modal-wrapper .nws-modal .modal-left {
    width: 100%;
    border-right: 1px solid var(--wallet-selector-sidebar-border-color, var(--sidebar-border-color));
    padding: 32px 24px;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.nws-modal-wrapper .nws-modal{
  height:215px;
}
.wallet-options-wrapper {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.nws-modal-wrapper .nws-modal > .modal-left > div:nth-child(2) {
    display: flex;
    justify-items: center;
    text-align: center;
    width: 100%;
}

@media (max-width: 576px) {
  .nws-modal-wrapper .nws-modal {
    height: 224px!important;
  }
}



:root {
          --primary: #1A1B20;
          --secondary: #000;
          --mainBg: #1A1B20;
          --gradOne: #CFFC71;
          --gradTwo: #CFFC71;
          --cardOne: #33343A;
          --cardTwo: #CFFC71;
          --linkColor: #C5D0FF;
          --icon: #CFFC71;
          --camera: #1A1B20;
          --modalText: #FFFFFF;
          --leaderboardText: #FFFFFF;
          --headerText: #FFFFFF;
          --mainText: #FFFFFF;
          --freeUseText: #0A7D6C;
          --bgFreeUse: #0A7D6C1A;
          --primaryBtnText: #000000;
          --secondaryBtnText: #FFFFFF;
        }